:root {
  --navigation-dark: rgb(25, 29, 43);
  --navigation-light: rgb(228, 228, 228);
  --background-dark: rgb(16, 18, 27);
  --background-light: rgb(241, 241, 241);
  --border-dark: rgb(46, 52, 78);
  --border-light: rgb(203, 206, 216);
  --text-dark: rgb(164, 172, 196);
  --text-light: rgb(49, 49, 49);
  --main-color: rgb(3, 127, 255);
  --main-color-alpha: #3b98f52f;
  --heading-color-dark: rgb(255, 255, 255);
}

[data-theme="light"] {
  --navigation-dark: rgb(228, 228, 228);
  --background-dark: rgb(241, 241, 241);
  --border-dark: rgb(203, 206, 216);
  --text-dark: rgb(49, 49, 49);
  --main-color: rgb(3, 127, 255);
  --main-color-alpha: #3b98f52f;
  --heading-color-dark: rgb(49, 49, 49);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
  color: var(--text-dark);
  background: var(--background-dark);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  line-height: 4rem;
  color: var(--heading-color-dark);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: -1rem;
}

h4 {
  font-size: 1.2rem;
  color: var(--main-color);
  /* margin-bottom: -1rem; */
}

.pr1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.underline {
  width: 3rem;
  height: 0.3rem;
  background: var(--main-color);
  margin-bottom: 4rem;
  position: relative;
  border-radius: 5px;

}

.underline:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8rem;
  background: var(--main-color-alpha);
  border-radius: 5px;
}


.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 260px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "nav toggler"
    "nav app-content";
}

.app-content {
  grid-area: app-content;
  background: var(--background-dark);
}

.main-nav {
  grid-area: nav;
  position: fixed;
  left: 0;
  top: 0;
  /* transform: translateX(0); */
  height: 100vh;
  width: 260px;
  height: 100%;
  background: var(--navigation-dark);
  border-right: 0.1rem solid var(--border-dark);
  display: flex;
  flex-direction: column; 
  /* justify-content: space-between; */
  text-align: center;
}




.nav-img {
  height: 260px;
  border-bottom: 0.1rem solid var(--border-dark);
  display: flex;
}

.nav-img img {
  width: 200px;
  border-radius: 50%;
  border: 0.3rem solid var(--border-dark);
  margin: auto;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  border-top: 0.1rem solid var(--border-dark);
  width: 260px;
  position: fixed;
  bottom: 0;
}

nav {
  padding: 2px;
  position: relative;
  top: 100px;
}

nav a {
  color: var(--text-dark);
  width: 100%;
  display: block;
  padding: 0.2rem 0;
  margin: 0.1rem 0;
}

.btn-animation {
  background: linear-gradient(
    to right,
    var(--main-color-alpha) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.btn-animation:hover {
  background-position: left bottom;
}

.active {
  background: var(--main-color);
  color: var(--heading-color-dark);
}

nav a:hover.active {
  background: var(--main-color);
  color: var(--heading-color-dark);
}

nav a:hover {
  color: var(--main-color);
}

.toggler {
  grid-area: toggler;
  position: fixed;
  right: 0;
  top: 1.5rem;
  background: var(--background-dark);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  text-align: center;
  cursor: pointer;
}

.toggler-item {
  border: 1px solid var(--border-dark);
  border-radius: 25px;
  margin-right: 1rem;
  width: 80px;
  height: 30px;
  padding: 1px;
}

.toggler-item:hover {
  color: var(--main-color);
}

.fa-github {
  color: var(--main-color);
  margin-top: 3rem;
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content-area {
  max-width: 1100px;
  padding: 2rem;
}

span.main-color {
  color: var(--main-color);
}

.text-center {
  text-align: center;
  width: 650px;
  margin-top: 2rem;
}

.about-area {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.about-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.wrapper {
  width: 450px;
  height: 337.5px;
  position: relative;
}

.about-photo {
  width: 450px;
}

.wrapper:after, .wrapper:before {
  content: "";
  position: absolute;
  height: 65%;
  width: 15px;
  background: rgba(3,127,255,.6);
}
.wrapper:before {
  left: 0;
  top: 0;
}

.wrapper:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.personal-info {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.8rem;
}

.resume-item{
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* line-height: 1.8rem; */
  gap: 2rem;
  margin-bottom: 2rem;
}

.resume-data{
  width: 100%;
  position: relative;
  /* padding-top: -2rem; */
}

.resume-data::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1px;
  background: var(--border-dark);
  top: 12px;
  left: -3rem;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 320px;
  border-radius: 25px;
  border: solid 1px var(--border-dark);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.portfolio img {
  width: calc(320px - 2rem);
  align-self: center;
  border-radius: 18px 18px 0 0;
  transition: all .4s ease-in-out;
}

.portfolio img:hover {
  transform: scale(1.09) translateY(-4px);
  border-radius: 20px 20px 0 0;
}

.github-code {
  color: var(--main-color);
  text-decoration: underline;
  align-self: flex-start;
}
.github-code:visited {
  color: var(--main-color);
}

.left-align {
  align-self: flex-start;
}

.contact-form {
  display: flex;
  gap: 2rem;
}

.contact-form form {
  display: flex;

  gap: 2rem;
  flex-direction: column;
  width: 450px;
  position: relative;

}

.contact-form form input,
.contact-form textarea,
.contact-form textarea :focus {
  background: transparent;
  padding: 0.8rem;
  padding-top: 1.5rem;
  color: var(--text-dark);
  border: 1px solid var(--border-dark);
  outline: 0;
  width: 100%;
}

.contact-form form :focus{
  background: transparent;
  color: var(--text-dark);
}

.contact-form.outline{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.contact-form span {
  position: absolute;
  /* top: -2px; */
  left: 15px;
  background: var(--background-dark);
  line-height: 1;
  z-index: 1;
  padding: 0 1rem;
}

.contact-form textarea,
.contact-form textarea :focus {
  background: none;
  color: var(--text-dark);
}

/* Chrome autofill CSS reset */
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active,{
    -webkit-background  !important;
} */

/* input:-webkit-autofill { 
  -webkit-background-clip: text;
} */